<!-- src/app/app.component.html -->
<mat-toolbar color="primary">
    <span>{{ title }}</span>
    <span class="spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="dashboard">
        <mat-icon>dashboard</mat-icon>
    </button>
    <mat-menu #dashboard="matMenu">
        <div *ngFor="let layout of layouts">
            <button mat-menu-item  [routerLink]="[ '/dash', layout.id ]">
                {{ layout.name }}
            </button>
        </div>
    </mat-menu>
    <button mat-icon-button [matMenuTriggerFor]="editor">
        <mat-icon>create</mat-icon>
    </button>
    <mat-menu #editor="matMenu">
        <button mat-menu-item routerLink="/widgets">
            <span>Widgets</span>
        </button>
        <button mat-menu-item routerLink="/grids">
            <span>Grids</span>
        </button>
        <button mat-menu-item routerLink="/layouts">
            <span>Layouts</span>
        </button>
    </mat-menu>
</mat-toolbar>
<router-outlet ></router-outlet>