<ng-container [ngSwitch]="widget.config.widgetType">
  <ngx-charts-bar-vertical
    *ngSwitchCase="'bar-vertical'"
      [results]="widget.results"
      [gradient]="widget.config.gradient"
      [xAxis]="widget.config.showXAxis"
      [yAxis]="widget.config.showYAxis"
      [legend]="widget.config.showLegend"
      [legendPosition]="widget.config.legendPosition || 'right'"
      [showXAxisLabel]="widget.config.showXAxisLabel"
      [showYAxisLabel]="widget.config.showYAxisLabel"
      [xAxisLabel]="widget.config.xAxisLabel"
      [yAxisLabel]="widget.config.yAxisLabel">
    </ngx-charts-bar-vertical>
    <ngx-charts-bar-vertical-2d
    *ngSwitchCase="'bar-vertical-2d'"
      [results]="widget.results"
      [gradient]="widget.config.gradient"
      [xAxis]="widget.config.showXAxis"
      [yAxis]="widget.config.showYAxis"
      [legend]="widget.config.showLegend"
      [legendPosition]="widget.config.legendPosition || 'right'"
      [showXAxisLabel]="widget.config.showXAxisLabel"
      [showYAxisLabel]="widget.config.showYAxisLabel"
      [xAxisLabel]="widget.config.xAxisLabel"
      [yAxisLabel]="widget.config.yAxisLabel">
    </ngx-charts-bar-vertical-2d>
    <ngx-charts-line-chart
    *ngSwitchCase="'line'"
      [results]="widget.results"
      [gradient]="widget.config.gradient"
      [xAxis]="widget.config.showXAxis"
      [yAxis]="widget.config.showYAxis"
      [legend]="widget.config.showLegend"
      [legendPosition]="widget.config.legendPosition || 'right'"
      [showXAxisLabel]="widget.config.showXAxisLabel"
      [showYAxisLabel]="widget.config.showYAxisLabel"
      [xAxisLabel]="widget.config.xAxisLabel"
      [yAxisLabel]="widget.config.yAxisLabel"
      [autoScale]="widget.config.autoScale"
      >
  </ngx-charts-line-chart>
  <ngx-charts-pie-chart
    *ngSwitchCase="'pie-chart'"
      [results]="widget.results"
      [gradient]="widget.config.gradient"
      [legend]="widget.config.showLegend"
      [legendPosition]="widget.config.legendPosition || 'right'"
      >
  </ngx-charts-pie-chart>
  <ngx-charts-pie-grid
    *ngSwitchCase="'pie-grid'"
      [results]="widget.results"
      >
  </ngx-charts-pie-grid>
  <ngx-charts-gauge
    *ngSwitchCase="'gauge'"
      [results]="widget.results"
      [legend]="widget.config.showLegend"
      [legendPosition]="widget.config.legendPosition || 'right'"
      >
  </ngx-charts-gauge>
  <ngx-charts-area-chart
    *ngSwitchCase="'area'"
      [results]="widget.results"
      [gradient]="widget.config.gradient"
      [xAxis]="widget.config.showXAxis"
      [yAxis]="widget.config.showYAxis"
      [legend]="widget.config.showLegend"
      [legendPosition]="widget.config.legendPosition || 'right'"
      [showXAxisLabel]="widget.config.showXAxisLabel"
      [showYAxisLabel]="widget.config.showYAxisLabel"
      [xAxisLabel]="widget.config.xAxisLabel"
      [yAxisLabel]="widget.config.yAxisLabel"
      [autoScale]="widget.config.autoScale"
      >
  </ngx-charts-area-chart>
</ng-container>