<!-- src/app/app.component.html -->
<div #container>
  <mat-toolbar color="primary">
    <span>{{ titleService.getTitle() }}</span>
    <span class="spacer"></span>
    <button name="home" mat-icon-button [routerLink]="['']">
      <mat-icon>home</mat-icon>
    </button>
    <button
      name="dashboard"
      mat-icon-button
      [matMenuTriggerFor]="dashboard"
      (click)="getLayouts()"
    >
      <mat-icon>dashboard</mat-icon>
    </button>
    <mat-menu id="dash-menu" #dashboard="matMenu" xPosition="before">
      <div *ngFor="let layout of layouts$ | async">
        <button
          id="dash-{{ layout.id }}"
          mat-menu-item
          [routerLink]="[
            '',
            {
              outlets: {
                drawer: ['layouts', layout.id],
                primary: ['dash', layout.id]
              }
            }
          ]"
        >
          {{ layout.name }}
        </button>
      </div>
    </mat-menu>
    <button name="drawer" mat-icon-button (click)="drawer.toggle()">
      <mat-icon>view_sidebar</mat-icon>
    </button>
  </mat-toolbar>
  <mat-sidenav-container>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
    <mat-sidenav #drawer mode="side" position="end">
      <button [routerLink]="[{ outlets: { drawer: ['widgets'] } }]">
        <span>Widgets</span>
      </button>
      <button [routerLink]="[{ outlets: { drawer: ['grids'] } }]">
        <span>Grids</span>
      </button>
      <button [routerLink]="[{ outlets: { drawer: ['layouts'] } }]">
        <span>Layouts</span>
      </button>
      <router-outlet name="drawer"></router-outlet>
    </mat-sidenav>
  </mat-sidenav-container>
</div>
