<form [formGroup]="form" class="form-container" (submit)="onSubmit()">
  <mat-form-field
    floatLabel="auto">
      <mat-label>Name</mat-label>
      <input formControlName="name" matInput>
  </mat-form-field>
  <mat-form-field
    floatLabel="auto">
      <mat-label>Background Colour</mat-label>
      <input formControlName="background" matInput>
  </mat-form-field>
  <mat-form-field
    floatLabel="auto">
      <mat-label>Cycle Duration (Milliseconds)</mat-label>
      <input formControlName="duration" matInput>
  </mat-form-field>
  <button mat-raised-button color="primary" type="submit">Submit</button>
</form>
