<mat-nav-list>
  <mat-list-item>
    <button mat-icon-button [routerLink]="['', { outlets: { drawer: ['new_grid'] } }]">
      <mat-icon>fiber_new</mat-icon>
    </button>
  </mat-list-item>
  <mat-list-item *ngFor="let grid of ( grids$ | async )">
    <a matLine [routerLink]="['', { outlets: { drawer: [ 'grids', grid.id] } }]"> {{ grid.name }} </a>
    <button mat-icon-button (click)="deleteGrid(grid.id)">
      <mat-icon>delete_forever</mat-icon>
    </button>
  </mat-list-item>
</mat-nav-list>